<h1>About me</h1>
<h2>Welcome to my recipe page!
<%= image_tag("smiley.png",class: :smiley)%></h2>
 <div class="content">If you have a favourite recipe you'd like to add to this page, please get in contact and I'll be happy to add it! </div>
 <div class="author">Author: Marie-Louise Dahl, Stockholm, 2017 </div>
